html {
	font-size: var(--font-size-root);
	font-variant: slashed-zero;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font-family-sans);
	letter-spacing: 0.02em;
	line-height: 1.65;
}

h1,
h2,
h3 {
	color: var(--text-emphasis);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

blockquote {
	> *:not(:last-child) {
		margin-block-end: 8px;
	}

	&:not(figure *) {
		border-inline-start: 3px solid var(--text-subtle);
		padding-inline-start: 16px;
	}
}

figure {
	&:has(> blockquote) {
		display: grid;
		gap: 8px 24px;
		grid-template-areas:
			"before blockquote"
			"before figcaption";
		grid-template-columns: auto 1fr;

		&::before {
			content: open-quote;
			font-size: 2.25em;
			grid-area: before;
			line-height: 1.25;
		}

		&::after {
			content: close-quote;
			opacity: 0;
			position: absolute;
		}

		blockquote {
			grid-area: blockquote;
		}

		figcaption {
			grid-area: figcaption;
			text-align: end;
		}
	}

	&:has(> picture) {
		img {
			border-radius: var(--border-radius);

			@media (width <= 704px) {
				border-radius: 0;
			}
		}
	}
}

a {
	color: var(--accent);
	text-decoration-line: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 2px;
	transition: color 0.2s;

	&:hover {
		text-decoration-line: none;
	}
}

pre,
code {
	font-family: var(--font-family-mono);
}

pre,
code:not(pre *) {
	background-color: var(--foreground);
	border-radius: var(--border-radius);
}

pre {
	background-color: var(--foreground);
	font-size: var(--font-size-pre);
	padding: 16px 32px;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	@media (width <= 704px) {
		border-radius: 0;
	}
}

code:not(pre *) {
	font-size: var(--font-size-code);
	padding: 4px 8px;
}

dl {
	column-gap: 32px;
	display: grid;
	grid-template-columns: auto 1fr;

	@media (max-width: 500px) {
		display: block;
	}
}

dt {
	font-weight: bold;
	grid-column: 1;
}

dd {
	grid-column: 2;
	margin-block-end: 8px;

	@media (max-width: 500px) {
		margin-inline-start: 16px;
	}
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
	width: fit-content;
	word-break: normal;
}

th,
td {
	border: 3px solid var(--outline);
	padding: 8px 0;

	&:first-of-type {
		border-inline-start: unset;
	}

	&:last-of-type {
		border-inline-end: unset;
	}
}

thead th {
	border-block-start: unset;
}

tfoot th,
tr:last-of-type td {
	border-block-end: unset;
}

caption {
	margin-block-end: 16px;
}
