.accent {
	color: var(--accent);
	font-style: inherit;
}

.epithet {
	font-size: var(--font-size-3);
}

.lattice {
	display: grid;
	gap: 8px 24px;
	grid-template-columns: auto 1fr;

	@media (width <= 35rem) {
		display: flex;
		flex-direction: column;
		gap: calc(var(--gap) * 2);
	}

	li {
		display: grid;
		grid-column: span 2;
		grid-template-columns: subgrid;
	}

	a {
		width: fit-content;
	}
}
