/*
  https://kittygiraudel.com/snippets/sr-only-class/
  https://benmyers.dev/blog/native-visually-hidden/
	https://benmyers.dev/blog/skip-links/
*/

.skip-link:not(:focus) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.skip-link {
	background-color: var(--background);
	font-size: var(--font-size-h1);
	font-weight: 700;
	inset-block-start: 32px;
	inset-inline-start: 32px;
	position: fixed;
}

.accent {
	color: var(--accent);
	font-style: inherit;
}

.dashed-list {
	display: flex;

	li:not(:last-of-type) {
		display: flex;

		&::after {
			content: "//";
			margin-inline: 1ch;
			opacity: 0.5;
		}
	}

	a {
		color: var(--text-emphasis);
		text-decoration-line: none;
		transition: color 0.2s;

		&[aria-current="page"] {
			color: var(--accent);
		}

		&:hover {
			color: var(--accent);
			text-decoration-line: underline;
		}
	}
}

.lattice {
	li {
		display: flex;
		flex-direction: column;
		margin-block-end: 16px;

		@media (width >= 550px) {
			align-items: center;
			column-gap: 16px;
			flex-direction: row;
		}
	}

	time {
		color: var(--text-subtle);

		@media (width >= 550px) {
			order: -1;
		}
	}
}
