.masthead {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-block-end: 32px;
	margin-inline: auto;
	padding-block-start: 32px;
	width: min(var(--site-max-width), calc(100% - var(--gutters)));
}

.title {
	color: var(--accent);
	font-size: var(--font-size-h2);
	font-weight: bold;
	text-decoration-line: none;

	&:hover {
		color: var(--accent);
		text-decoration-line: underline;
	}
}

.footer {
	margin-block-start: 96px;
	padding-block-end: 64px;
}

.sigil {
	display: grid;
	place-items: center;
}

.home {
	align-content: center;
	display: grid;
	grid-template-rows: repeat(3, min-content);
	width: fit-content;
	margin-inline: auto;
	min-block-size: 100vh;

	h1 {
		margin-block-end: 32px;
	}

	svg {
		margin-block-start: 48px;
	}
}

.prose {
	> * {
		margin-block-end: 24px;
		margin-inline: auto;
		width: min(var(--prose-max-width), calc(100% - var(--gutters)));
	}

	> header:first-child {
		margin-block-end: 112px;
		padding-block-start: 112px;

		h1 {
			max-width: 400px;
		}

		time {
			color: var(--text-subtle);
		}
	}

	> h2:not([role="presentation"]) {
		margin-block-start: 80px;
	}

	> h3:not([role="presentation"]) {
		margin-block-start: 40px;
	}

	> :is(figure:has(> picture), pre) {
		width: min(calc(var(--prose-max-width) + 64px), 100%);
	}

	> figure {
		margin-block: 40px;
	}
}
