:root {
	--accent: oklch(54.24% 0.2326 286.66);
	--ink: oklch(0% 0 0);
	--background: oklch(98.51% 0 0);

	--foreground: color-mix(in oklch, var(--background), var(--ink) 6%);
	--outline: color-mix(in oklch, var(--background), var(--ink) 15%);
	--text-emphasis: color-mix(in oklch, var(--background), var(--ink) 80%);
	--text: color-mix(in oklch, var(--background), var(--ink) 65%);
	--text-subtle: color-mix(in oklch, var(--background), var(--ink) 55%);

	--font-family-sans: "IBM Plex Sans", system-ui, sans-serif;
	--font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
		Consolas, "DejaVu Sans Mono", monospace;

	--font-size-root: 1.125rem;
	--font-size-h1: 1.5em;
	--font-size-h2: 1.3104em;
	--font-size-h3: 1.1447em;
	--font-size-pre: 0.89rem;
	--font-size-code: 0.89em;

	--border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: oklch(64.25% 0.2028 9.32);
		--ink: oklch(98.42% 0.0034 247.86);
		--background: oklch(20.81% 0.011 260.67);
	}
}
