:root {
	--accent: #6e47ec;
	--ink: #000;
	--background: #fafafa;

	--foreground: color-mix(in srgb, var(--background), var(--ink) 6%);
	--outline: color-mix(in srgb, var(--background), var(--ink) 15%);
	--text-emphasis: color-mix(in srgb, var(--background), var(--ink) 80%);
	--text: color-mix(in srgb, var(--background), var(--ink) 65%);
	--text-subtle: color-mix(in srgb, var(--background), var(--ink) 55%);

	--font-family-sans: "IBM Plex Sans", system-ui, sans-serif;
	--font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
		Consolas, "DejaVu Sans Mono", monospace;

	--font-size-root: 1.125rem;
	--font-size-h1: 1.5em;
	--font-size-h2: 1.3104em;
	--font-size-h3: 1.1447em;
	--font-size-pre: 0.89rem;
	--font-size-code: 0.89em;

	--border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: #ec4672;
		--ink: #f8fafc;
		--background: #15181d;
	}
}
