---
title: "Branden Higby"
description: "Branden Higby"
permalink: "/"
layout: "base"
---

<main id="main-content" class="home" tabindex="-1">
	<header>
		<h1>branden <i class="accent">higby</i></h1>
	</header>

	<ol class="lattice" role="list">
	{% for item in collections.garden reversed %}
	<li>
		<a href="{{ item.url | default: item.data.externalURL }}">{{ item.data.title }}</a>
		<time>{{ item.date | formatDate: "YYYY-MM-DD" }}</time>
	</li>
	{% endfor %}
</ol>

	<footer class="sigil">{% include "icons/sigil.svg" %}</footer>
</main>

