---
title: "Branden Higby"
description: "Branden Higby"
permalink: "/"
layout: "base"
---

<main id="main-content" class="home" tabindex="-1">
	<header>
		<h1>branden <i class="accent">higby</i></h1>
	</header>

	<ul class="dashed-list" role="list">
		<li>
			<a href="{{ author.github }}">github</a>
		</li>
		<li>
			<a href="{{ author.mastodon }}">mastodon</a>
		</li>
		<li>
			<a href="/colophon/">colophon</a>
		</li>
	</ul>

	<footer class="sigil">{% include "icons/sigil.svg" %}</footer>
</main>

