---
title: "Branden Higby"
description: "Branden Higby"
permalink: "/"
layout: "base"
---

<main id="main-content" class="prose" tabindex="-1">
	<header>
		<h1>Branden <i class="accent">Higby</i></h1>
		<p>{{ author.epithet }}</p>
	</header>

    {% include "navigation" %}

</main>

{% include "sigil" %}
