---
title: "Branden Higby"
description: "Branden Higby"
permalink: "/"
layout: "base"
---

<main id="main-content" class="home" tabindex="-1">
	<header>
		<h1>Branden <i class="accent">Higby</i></h1>
	</header>

	{% include "navigation" %}

	<footer class="sigil">{% include "icons/sigil.svg" %}</footer>
</main>

