<header class="masthead">
	<a href="/" class="title">{{ site.title }}</a>
	
	<nav>
		<ul role="list">
			{% for item in site.navigation %}
			{% capture navURL %}/{{ item }}/{% endcapture %}
			<li>
				<a href="{{ navURL }}" {% if page.url == navURL %} aria-current="page"{% endif %}>{{ item }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
