<!doctype html>
<html lang="en" dir="ltr">
	<head>{% include 'head' %}</head>
	<body>
		<a href="#main-content" class="skip-link">Skip to Content</a>
		{{ content }}
		<script type="module" src="/snow-fall.js"></script>
		<snow-fall></snow-fall>
	</body>
</html>
