---
layout: "base"
styles: "home"
---

<main id="main-content" class="content prose">
	<header>
		<h1>{{ site.accentedName }}</h1>
		<p class="epithet">{{ author.epithet }}</p>
	</header>

	{{ content }}
</main>

{% include "sigil" %}
