---
layout: "base"
styles: "home"
---

<main id="main-content" class="prose" tabindex="-1">
	<header>
		<h1>Branden <i class="accent">Higby</i></h1>
		<p>{{ author.epithet }}</p>
	</header>

	{{ content }}
</main>

{% include "sigil" %}
