---
layout: "base"
---

{% include "masthead" %}

<main id="main-content" tabindex="-1">
	<article class="prose">
		<header>
			<h1>{{ title }}</h1>
			{% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
		</header>

		{{ content }}
	</article>
</main>

{% include "footer" %}
